@mixin background-img {
  background-size    : 75%;
  background-repeat  : no-repeat;
  background-position: center;
}

.delete {
  @include background-img();
  background-image: url('../img/buttons/delete.svg');
}

.initial-wrapper {
  display: flex;
  justify-content: center;

  .initial-btn {
    width: 9rem;
    background-color: #5CA9DB;
    border: 1px solid #B0DCF9;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #B0DCF9;
    color: white;
    font-size: 1.5rem;
    height: 3rem;
    font-family: 'Titan One', cursive;
    transition: 0.4s linear;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: #5CA9DB;
    }
  }
}