@mixin background-img {
  background-size    : 75%;
  background-repeat  : no-repeat;
  background-position: center;
}

.delete {
  @include background-img();
  background-image: url('../img/buttons/delete.svg');
}

.initial-wrapper {
  display: flex;
  justify-content: center;

  .initial-btn {
    width: 6rem;
    height: 2rem;
    background-color: #5CA9DB;
    border: 1px solid #B0DCF9;
    border-radius: 6px;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Kumbh Sans', sans-serif;
    transition: 0.2s linear;

    &:hover {
      cursor: pointer;
      background-color: white;
      color: #5CA9DB;
    }
  }
}