.delete {
  @include background-img(75%);
  background-image: url('../img/buttons/delete.svg');
}

.initial-wrapper {
  display: flex;
  justify-content: center;

  .initial-btn {
    width: 8rem;
    height: 2.5rem;
    background-color: $color-skyblue-3;
    border: 0.2rem solid $color-skyblue-1;
    border-radius: 0.25rem;
    color: $color-white;
    font-size: 1.2rem;
    font-family: $Titan;

    &:active {
      background-color: $color-white;
      color: $color-skyblue-3;
    }
  }
}