$color-white: #FFFFFF;
$color-resultok-0: #80EDB9;
$color-resultok-1: #13BF6C;
$color-resultnook-0: #FF703F;


$color-skyblue-0: #E3F4FE;
$color-skyblue-1: #B0DCF9;
$color-skyblue-2: #84C4EE;
$color-skyblue-3: #5CA9DB;

$color-pink-0: #FEE9F0;
$color-pink-1: #F9C6D7;
$color-pink-2: #F1A0BB;
$color-pink-3: #E6789D;

$color-yellow-0: #FFF8E2;
$color-yellow-1: #FFEAB0;
$color-yellow-2: #FFDF86;
$color-yellow-3: #FFD662;
$color-yellow-4: #C0951A;
$color-yellow-5: #C0771A;

$color-orange-0: #FFEAE2;
$color-orange-1: #FFC4B0;
$color-orange-2: #FFA586;
$color-orange-3: #FF8A62;
$color-orange-4: #E5673C;


$color-darkblue-0: #BFC1F8;
$color-darkblue-1: #8F94ED;
$color-darkblue-2: #6A70E0;	
$color-darkblue-3: #4A51D2;
$color-darkblue-4: #2B33BF;

$color-green-0: #9EE4C2;
$color-green-1: #6ACC9D;
$color-green-2: #44B27D;
$color-green-3: #29A067;
$color-green-4: #12864E;
