header {
  display: grid;
  height: var(--height);
}

.brand {
  display: grid;
  grid-template-rows: auto repeat(8, calc(var(--height) * 0.1)) auto;
  color: $color-white;
  font-family: $Saira; 
  
  .letter-brand {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
  }
}

.logo-2 {
  @include background-img(1.5rem);
  background-image: url('../img/logos/brain.svg');
}  
