.identity-wrapper, .recover-wrapper {
  @include forms($color-darkblue-2, $color-darkblue-0);
}

.form-login-wrapper {
  @include inputs($color-darkblue-2, $color-darkblue-0);

  .field-wrapper .emailField, .field-wrapper .passwordField {
    color: $color-orange-3;
    border: 0.25rem solid $color-orange-3;
  }

  .forgot-wrapper {
    .forgot-button {
      border: 0;
      background-color: transparent;
      border-bottom: 0.065rem solid;
      font-size: 1.2rem;
      font-family: $Kumbh;
      color: $color-white;
      line-height: 2rem;

      &:active {
        letter-spacing: 0.065rem;
      }
    }
  }

  .submit-login {
    @include submits($color-darkblue-2, $color-darkblue-0);

    .error-login {
      padding: 0.5rem;
      background-color: $color-orange-3;
      color: $color-white;
      font-weight: 600;
      border-radius: 0.25rem;
      border: 0.2rem solid;
    }
  }
}

.register-wrapper {
  @include forms($color-orange-3, $color-orange-1);
}

.form-register-wrapper {
  @include inputs($color-orange-4, $color-orange-1);
  width: calc(var(--height) * 0.4);
  justify-content: center;

  .field-wrapper .nameField, .field-wrapper .emailField, .field-wrapper .passwordField {  
    border: 0.25rem solid $color-orange-4;
    

    &::placeholder {
      opacity: 1;
    }
  }

  .submit-register {
    @include submits($color-orange-3, $color-orange-1);

    .error-login {
      padding: 0.5rem;
      background-color: $color-orange-4;
      color: $color-white;
      font-weight: 600;
      border-radius: 0.25rem;
      border: 0.2rem solid;
    }
  }
}

.form-recover-wrapper {
  @include inputs($color-darkblue-4, $color-darkblue-0, none);

  .field-wrapper .emailField {
    color: $color-orange-3;
    border: 0.25rem solid $color-orange-3;
  }

  .submit-recover {
    @include submits($color-darkblue-2, $color-darkblue-0);

    .error-login {
      padding: 0.5rem;
      background-color: $color-orange-3;
      color: $color-white;
      font-weight: 600;
      border-radius: 0.25rem;
      border: 0.2rem solid;
    }
  }
}