@mixin forms($bkg-color, $border-color) {
  width: 60vh;
  height: 90vh;
  display: grid;
  justify-content: center;
  justify-items: center;
  align-items: center;
  grid-template-rows: 15% auto;
  background-color: $bkg-color;
  border-radius: 8px;
  color: white;
  border: 16px solid $border-color;
  box-sizing: border-box;

  .title-wrapper {
    align-self: end;

    h2 {
      font-size: 1.6rem;
      font-weight: 500;
      font-family: 'Kumbh Sans', sans-serif;
      margin: 0;
      border-bottom: 2px solid;
      line-height: 3rem;
    }
  }
}


  @mixin inputs($color-color, $border-color, $rows: repeat(4, 1fr)) {
    display: grid;
    grid-template-rows: $rows;
    height: 95%;
    align-items: center;
    text-align: center;
  
    .field-wrapper {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
  
      .input-data {
        border: 4px solid $border-color;
        border-radius: 8px;
        font-size: 0.9rem;
        padding: 8px;
        text-align: center;
        color: $color-color;

        &:focus-visible {
          outline: 2px solid white;
        }
      }
  
      .label-data {
        font-size: 1.2rem;
        font-family: 'Kumbh Sans', sans-serif;
        color: white;
      }
    }
  }  


  @mixin submits($color-color) {
    .submit-button {
      font-family: 'Titan One', cursive;
      background-color: transparent;
      border: 1px solid;
      font-size: 1.4rem;
      color: white;
      padding: 6px;
      width: 100%;
      border-radius: 50%;
      transition: 0.2s linear;

      &:hover {
        cursor: pointer;
        background-color: white;
        color: $color-color;
      }
    }
  }


  .identity-wrapper, .recover-wrapper {
    @include forms(#6A70E0, #BFC1F8);
  }

  .form-login-wrapper {
    @include inputs(#6A70E0, #bfc1f8);

    .field-wrapper .emailField, .field-wrapper .passwordField {
      color: #ff8a62;
      border: 4px solid #ff8a62;
    }

    .forgot-wrapper {
      .forgot-button {
        border: 0;
        background-color: transparent;
        border-bottom: 1px solid;
        font-size: 1.2rem;
        color: white;
        line-height: 2rem;
        transition: 0.2s linear;

        &:hover {
          cursor: pointer;
          letter-spacing: 1px;
        }
      }
    }

    .submit-login {
      @include submits(#6A70E0);

      .error-login {
        padding: 8px;
        background-color: #ff8a62;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        border: 2px solid;
      }
    }
  }

  .register-wrapper {
    @include forms(#ff8a62, #FFC4B0);
  }

  .form-register-wrapper {
    @include inputs(#C0441A, #FFC4B0);

    .field-wrapper .nameField, .field-wrapper .emailField, .field-wrapper .passwordField {      
      border: 4px solid #C0441A;

      &::placeholder {
        opacity: 1;
      }
    }

    .submit-register {
      @include submits(#ff8a62);

      .error-login {
        padding: 8px;
        background-color: #E5673C;
        color: white;
        font-weight: 600;
        border-radius: 8px;
        border: 2px solid;
      }
    }
  }

 .form-recover-wrapper {
    @include inputs(#2B33BF, #bfc1f8, repeat(3, 1fr));
    width: 75%;

    .field-wrapper .emailField {
      color: #ff8a62;
      border: 4px solid #ff8a62;
    }

  .submit-recover {
    @include submits(#6A70E0);

    .error-login {
      padding: 8px;
      background-color: #ff8a62;
      color: white;
      font-weight: 600;
      border-radius: 8px;
      border: 2px solid;
    }
  }
 }