.slider-container {
  display: grid;
  width: calc(var(--width) * 0.8);
  height: var(--height);
  overflow: hidden;
  background-color: #E6789D;
  color: white;
  border: 0.25rem solid #F9C6D7;  
  box-sizing: border-box;

  .slide-wrapper {
    display: grid;
    margin: auto;
    width: 75%;
    height: 100%;
    align-items: center;  
    justify-content: center;

    h1 {
      text-align: center;
      margin: 1.8rem 0;
      font-size: 1.8rem;
    }

    h2 {
      margin: 0;
      font-size: 1.2rem;
    }

    .slide-content {
      font-size: 0.9rem;
    }

    .slide-content.small {
      text-align: right;
      font-size: calc(var(--height) * 0.02);
    }    
    
  }

  
  .slider-control-centerleft {
    align-self: flex-end;

    button {
      width: 3.5rem;
      border-radius: 0px 1rem 0px 0px;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 0.7rem;
      background: #F9C6D7 !important;
      color: #E6789D !important;
      text-transform: capitalize !important;
      padding: 0.5rem !important;
    }      
  }

  .slider-control-centerright {
    align-self: flex-end;

    button {
      width: 3.5rem;
      border-radius: 1rem 0px 0px 0px;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 0.7rem;
      background: #F9C6D7 !important;
      color: #E6789D !important;
      text-transform: capitalize !important;
      padding: 0.5rem !important;
    }
  }
}


.slider-control-bottomcenter {
  ul .paging-item.active {
    button[aria-selected="true"] {
      fill: #F9C6D7 !important;
    }
  }
}

.slide-2 {
  .example-wrapper {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    font-size: 0.9rem;    
    gap: 2px;

    .example {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #f9c6d7;
      gap: 1px;

      .example-element {
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #e6789d;        
      }

      .examp-0, .examp-4, .examp-7 {
        background-color: #f9c6d7;
        color: #e6789d;
        font-weight: 600;
      }
    }
  }
}

.slide-content-wrapper { 
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .example-wrapper {
    width: max-content;
    height: max-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 2px;

    .example {
      display: grid;
      background-color: #f9c6d7;
      gap: 1px;

      .example-element {
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #e6789d;
      }

      .examp-0, .examp-4, .examp-7 {
        background-color: #f9c6d7;
        color: #e6789d;
        font-weight: 600;
      }
    }
  }
}

.slide-4 .example-wrapper {
  width: max-content;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  gap: 1px;
  grid-template-columns: repeat(3,1fr);
  padding: 2px;

  .example {
    display: grid;
    background-color: #f9c6d7;
    gap: 1px;

    .example-element {
      width: calc(var(--height) * 0.035);
      height: calc(var(--height) * 0.035);
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #e6789d;
    }

    .examp-0, .examp-4, .examp-7 {
      background-color: #f9c6d7;
      color: #e6789d;
      font-weight: 600;
    }
  }
}
