.slider-container {
  display: grid;
  width: 60vh;
  height: 90vh;
  overflow: hidden;
  background-color: #E6789D;
  color: white;
  border: 1rem solid #F9C6D7;  
  border-radius: 8px;
  box-sizing: border-box;

  .slide-wrapper {
    display: grid;
    margin: auto;
    width: 75%;
    justify-content: center;

    h1 {
      text-align: center;
      margin: 2rem 0;
      font-size: 1.5rem;
    }

    h2 {
      margin-top: 0;
      font-size: 1.2rem;
    }

    .slide-content {
      font-size: 14px;
    }

    .slide-content.small {
      text-align: right;
      font-size: 11px;
    }    
    
  }

  
  .slider-control-centerleft {
    align-self: flex-end;

    button {
      width: 3rem;
      border-radius: 0px 16px 0px 0px;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 0.7rem;
      background: #F9C6D7 !important;
      color: #E6789D !important;
      text-transform: capitalize !important;
      padding: 8px !important;
    }      
  }

  .slider-control-centerright {
    align-self: flex-end;

    button {
      width: 3rem;
      border-radius: 16px 0px 0px 0px;
      font-family: "Kumbh Sans", sans-serif;
      font-size: 0.7rem;
      background: #F9C6D7 !important;
      color: #E6789D !important;
      text-transform: capitalize !important;
      padding: 8px !important;
    }
  }
}


.slider-control-bottomcenter {
  ul .paging-item.active {
    button[aria-selected="true"] {
      fill: #F9C6D7 !important;
    }
  }
}

.slide-2 {
  .example-wrapper {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.1);
    font-size: 0.9rem;    
    gap: 3px;

    .example {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      background-color: #f9c6d7;
      gap: 1px;

      .example-element {
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #e6789d;        
      }

      .examp-0, .examp-4, .examp-7 {
        background-color: #f9c6d7;
        color: #e6789d;
        font-weight: 600;
      }
    }
  }
}

.slide-content-wrapper { 
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;

  .example-wrapper {
    width: max-content;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
    gap: 3px;

    .example {
      display: grid;
      background-color: #f9c6d7;
      gap: 1px;

      .example-element {
        width: 1.2rem;
        height: 1.2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        color: #e6789d;
      }

      .examp-0, .examp-4, .examp-7 {
        background-color: #f9c6d7;
        color: #e6789d;
        font-weight: 600;
      }
    }
  }
}

.slide-4 .example-wrapper {
  width: max-content;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 0.9rem;
  gap: 1px;
  grid-template-columns: repeat(3,1fr);
  padding: 3px;

  .example {
    display: grid;
    background-color: #f9c6d7;
    gap: 1px;

    .example-element {
      width: 1.2rem;
      height: 1.2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #e6789d;
    }

    .examp-0, .examp-4, .examp-7 {
      background-color: #f9c6d7;
      color: #e6789d;
      font-weight: 600;
    }
  }
}
