@mixin background-img($bck-size) {
  background-size: $bck-size;
  background-repeat: no-repeat;
  background-position: center;
}

@mixin link-nav($bck-img, $bck-img-blue) {
  display: block;
      width: 100%;
      height: 100%;
      @include background-img(70%);
      background-image: url($bck-img);
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: white;
        cursor: pointer;
        @include background-img(70%);
        background-image: url($bck-img-blue);
      }
}

.sudoku-color {  
  background-color: #5CA9DB;
}

.instructions-color {
  background-color: #E6789D;
}

.ranking-color {
  background-color: #44B27D;
}

.register-color {
  background-color: #FF8A62;
}

.login-color {
  background-color: #6A70E0;
}

.settings-color {
  background-color: #FFD662;
}


nav {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 60px 60px 60px 150px auto;
  gap: 30px;

  .link-nav {

    .sudoku-nav.sudoku-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-blue.svg')
    }

    .instructions-nav.sudoku-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-blue.svg')
    }

    .ranking-nav.sudoku-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-blue.svg')
    }

    .sudoku-nav.instructions-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-pink.svg')
    }

    .instructions-nav.instructions-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-pink.svg')
    }

    .ranking-nav.instructions-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-pink.svg')
    }

    .sudoku-nav.ranking-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-green.svg')
    }

    .instructions-nav.ranking-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-green.svg')
    }

    .ranking-nav.ranking-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-green.svg')
    }

    .sudoku-nav.register-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-orange.svg')
    }

    .instructions-nav.register-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-orange.svg')
    }

    .ranking-nav.register-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-orange.svg')
    }

    .sudoku-nav.login-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-magenta.svg')
    }

    .instructions-nav.login-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-magenta.svg')
    }

    .ranking-nav.login-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-magenta.svg')
    }

    .sudoku-nav.settings-img {
      @include link-nav('../img/logos/sudoku.svg', '../img/logos/sudoku-yellow.svg')
    }

    .instructions-nav.settings-img {
      @include link-nav('../img/logos/information.svg', '../img/logos/information-yellow.svg')
    }

    .ranking-nav.settings-img {
      @include link-nav('../img/logos/ranking.svg', '../img/logos/ranking-yellow.svg')
    }
  }
}

/* 
.user-logout {
  @include background-img(70%);
  background-image: url('../img/logos/logout.svg');
}

.logo-1 {
  @include background-img(70%);
  background-image: url('../img/logos/sudoku.svg');
} */

.auth-wrapper {
  display: grid;
  grid-template-rows: 60px 60px;
  gap: 30px;

  .link-nav {

    .login-nav.sudoku-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-blue.svg');     
    }

    .register-nav.sudoku-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-blue.svg');      
    }

    .login-nav.instructions-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-pink.svg');     
    }

    .register-nav.instructions-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-pink.svg');      
    }

    .login-nav.ranking-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-green.svg');     
    }

    .register-nav.ranking-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-green.svg');      
    }

    .login-nav.register-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-orange.svg');     
    }

    .register-nav.register-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-orange.svg');      
    }

    .login-nav.login-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-magenta.svg');     
    }

    .register-nav.login-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-magenta.svg');      
    }

    .login-nav.settings-img {
      @include link-nav('../img/logos/login.svg', '../img/logos/login-yellow.svg');     
    }

    .register-nav.settings-img {
      @include link-nav('../img/logos/sign-up.svg', '../img/logos/sign-up-yellow.svg');      
    }

  }
}

.logout-wrapper {
  display: grid;
  grid-template-rows: 60px 60px;
  gap: 30px;

  .link-nav {

    .logout-nav.sudoku-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-blue.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.sudoku-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-blue.svg');
      background-color: transparent;
      border: none;
    }

    .logout-nav.instructions-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-pink.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.instructions-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-pink.svg');
      background-color: transparent;
      border: none;
    }

    .logout-nav.ranking-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-green.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.ranking-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-green.svg');
      background-color: transparent;
      border: none;
    }

    .logout-nav.login-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-magenta.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.login-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-magenta.svg');
      background-color: transparent;
      border: none;
    }

    .logout-nav.register-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-orange.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.register-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-orange.svg');
      background-color: transparent;
      border: none;
    }

    .logout-nav.settings-img {
      @include link-nav('../img/logos/logout.svg', '../img/logos/logout-yellow.svg');
      background-color: transparent;
      border: none;
    }

    .settings-nav.settings-img {
      @include link-nav('../img/logos/settings.svg', '../img/logos/settings-yellow.svg');
      background-color: transparent;
      border: none;
    }

  }
}