.ranking-wrapper {
  width: 60vh;
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  background-color: #44b27d;
  border: 1rem solid #9EE4C2;
  border-radius: 8px;
  box-sizing: border-box;

  .title-ranking {
    color: white;

    h1 {
      margin-bottom: 0;    }
  }
}


.ranking-podium-wrapper {
  display: grid;
  grid-template-columns: 1fr 1.8fr 1.2fr;
  color: white;
  justify-items: center;
  width: 90%;
  text-align: center;

  .position-wrapper {
    width: 70px;
    display: grid;
    justify-content: center;
    gap: 1rem;

    .position-title {
      border-bottom: 1px solid;
    }

    .position {
      height: 40px;
      background-color: white;
      border-radius: 8px;
      border: 4px solid #9ee4c2;
      box-sizing: border-box;
    }
  }

  .name-wrapper {
    width: 100px;
    display: grid;
    gap: 1rem;

    .name-title {
      border-bottom: 1px solid;
    }

    .name {      
      display: flex;
      height: 40px;
      font-size: 14px;
      align-items: center;
      justify-content: center;
      background-color: white;
      color: #44b27d;
      border: 4px solid #9ee4c2;
      border-radius: 8px;
      box-sizing: border-box;
    }
  }

  .time-wrapper {
    width: 70px;
    display: grid;
    justify-content: center;
    gap: 1rem;

    .time-title {
      border-bottom: 1px solid;
    }

    .time {      
      display: flex;
      width: 85px;
      height: 40px;
      justify-content: center;
      align-items: center;
      background-color: white;
      color: #44b27d;
      font-size: 12px;
      font-family: 'Chivo Mono', monospace;      
      border-radius: 8px;
      border: 4px solid #9ee4c2;
      box-sizing: border-box;
    }
  }
}