.result-wrapper {
  display: flex;
  height: var(--height);
  width: calc(var(--width) * 0.8);
  flex-direction: column;
  background-color: $color-skyblue-3;
  border: 0.25rem solid $color-skyblue-1;
  box-sizing: border-box;
  color: $color-white;  

  .hasard {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80%;
    text-align: center;

    .hasard-title {
      h2 {
        color: $color-resultok-0;
        font-size: 1.5rem;
      }
    }

    .hasard-bkg-img {
      @include bkg-result(url('../img/backgrounds/checked.svg'));
    }

    .hasard-result {
      h3 {
        color: $color-resultok-0;
      }

      .hasard-time {
        color: $color-white;
        font-weight: 600;
        font-family: $Chivo;
        width: 6rem;
        display: flex;
        justify-content: center;
        height: 2.2rem;
        align-items: center;
        background-color: $color-resultok-1;
        border: 0.2rem solid $color-resultok-0;
        border-radius: 0.25rem;
        margin: auto;
      }
    }

    .btns-result {
      button {
        background-color: transparent;
        border: 0.2rem solid $color-skyblue-1;
        color: $color-white;
        font-size: 1.2rem;
        width: 8rem;
        font-family: $Titan;
        height: 2rem;
        border-radius: 0.25rem;

        &:active {
          color: $color-skyblue-3;
          background-color: $color-white;
        }
      }
    }
    
  }

  .prosopagnosia {
    display: flex;
    flex-direction: column;
    align-self: center;
    align-items: center;
    width: 80%;
    text-align: center;

    .prosopagnosia-title {
      h2 {
        color: $color-resultnook-0;
        font-size: 1.5rem;
      }      
    }

    .prosopagnosia-bkg-img {
      @include bkg-result(url('../img/backgrounds/cancel.svg'));
    }

    .prosopagnosia-suggestion {
      color: $color-skyblue-1;
    }

    .btns-result {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      gap: 1rem;

      button {
        background-color: transparent;
        border: 0.2rem solid $color-skyblue-1;
        color: $color-white;
        font-size: 1.2rem;
        width: 8rem;
        font-family: $Titan;
        height: 2rem;
        border-radius: 0.25rem;

        &:active {
          color: $color-skyblue-3;
          background-color: $color-white;
        }
      }
    }
  }
}