@mixin background-img {
  background-size    : 60%;
  background-repeat  : no-repeat;
  background-position: center;
}

.selection-wrapper {
  width: 60vh;
  height: 75vh;
  background-color: #5ca9db;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  padding: 2rem;
  box-sizing: border-box;
  text-align: center;

  .category-main {
    height: 100%;
    display: grid;
    align-items: center;

    h2 {
      margin: 0;
      color: #FFFFFF;
      font-size: 2.5rem;
    }
  }
  

  .category-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
    align-items: center;
    justify-items: center;


  .category-btn {
    width: 80px;
    height: 65px;
    border: 2px solid transparent;
    border-radius: 1rem;
    background-color: white;
    color: #5ca9db;
    font-size: 1.4rem;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      border: 2px solid #FFD662;
    }
  }

  .category-frameworks {
    @include background-img();
    background-image: url('../img/frameworks/3.svg');
  } 

  .category-fruits {
    @include background-img();
    background-image: url('../img/fruits/3.svg');
  }
  
  .category-multimedia {
    @include background-img();
    background-image: url('../img/multimedia/1.svg');
  }

  .category-calendar {
    @include background-img();
    background-image: url('../img/calendar/2.svg');
  }

  .category-programming {
    @include background-img();
    background-image: url('../img/programming/5.svg');
  }
}

.number-wrapper {
  display: grid;
  grid-template-columns: repeat(6, 40px);
  grid-template-rows: repeat(8, 30px);
  gap: 1rem;
  justify-content: center;

  .btn-num {
    background-color: white;
    border: 3px solid transparent;
    color: #5CA9DB;
    font-size: 1rem;
    border-radius: 5px;
    box-sizing: border-box;

    &:hover {
      cursor: pointer;
      border: 3px solid #FFD662;
    }
  }
}
}