  
  .settings-wrapper {
    width: calc(var(--width) * 0.8);
    height: var(--height);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;  
    background-color: #FFD662;
    color: #C0951A;
    border: 0.25rem solid #FFEAB0;
    box-sizing: border-box;

    .settings-title {
      display: grid;
      justify-items: center;
      //gap: calc(var(--height) * 0.03);
      //width: calc(var(--width) * 0.5);

      h2 {
        margin: 0;
        font-size: 1.8rem;
      }

      h3 {
        margin: 0;
        font-size: 1.5rem;
      }
    }
  }
  

  .form-settings-wrapper {
    display: grid;
    gap: calc(var(--height) * 0.05);
    width: max-content;
    box-sizing: border-box;

    .field-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      gap: calc(var(--height) * 0.01);

      .input-data {
        width: 100%;
        height: calc(var(--height) * 0.06);
        text-align: center;
        color: #C0951A;
        font-size: 0.8rem;
        font-family: 'Kumbh Sans', sans-serif;        
        border: 0.2rem solid #ffeab0;
        border-radius: 0.25rem;
        box-sizing: border-box;

        &:focus-visible {
          outline: 2px solid white;
        }
      }
      
      .input-data.currentPasswordField, 
      .input-data.newPasswordField,
      .input-data.newPasswordRepeatField {
        outline: 2px solid #C0771A;
        color: #C0771A;

        &::placeholder {
          opacity: 1;
        }
      }
    }

    .submit-settings {
      display: grid;
      justify-content: center;
      margin-top: calc(var(--height) * 0.04);

      .submit-button {
        width: max-content;
        height: 2.8rem;
        padding: 0 1rem;
        background-color: transparent;
        box-sizing: border-box;
        border: 0.2rem solid #ffeab0;
        border-radius: 0.25rem;
        font-family: 'Titan One', cursive;
        font-size: 1.2rem;
        color: #C0951A;
        transition: 0.2s linear;

        &:hover {
          border-color: #C0951A;
          background-color: white;
          cursor: pointer;
        }
      }

      .error-settings {
        width: calc(var(--width) * 0.4);
        height: calc(var(--height) * 0.08);
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #C0951A;
        color: white;
        border: 0.25rem solid #ffeab0;
        box-sizing: border-box;
      }
    }
  }
  