.timer-wrapper {
  justify-self: center;
  width: 100%;
  display: flex;
  justify-content: center;

  .timer {
    display: block;
    width: 33%;
    font-size: 1.5rem;
    padding: 5px 0;
    border: 2px solid;
    border-radius: 5px;
    color: #5ca9db;
    background-color: white;
    text-align: center;
  }
}