.timer-wrapper {
  display: flex;
  justify-content: center;
  justify-self: center;

  .timer {
    padding: 0;
    font-family: "Chivo Mono", monospace;
    font-size: 1.2rem;
    font-weight: 300;
    border: 0;
    color: #B0DCF9;
    background-color: transparent;
    text-align: center;

    &:focus-visible {
      outline: none;
    }
  }
}