.welcome-wrapper {
  justify-self: center;
  width: 100%;
  text-align: center;

  h1 {
    color: #5ca9db;
    font-family: 'Titan one', cursive;
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 2px solid;
  }
}